{
  "extends": [
    "plugin:jest/recommended",
    "@nuxtjs"
  ],
  "rules": {
    "quotes": [2, "double", "avoid-escape"]
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest"],
  "overrides": [
    {
      "files": [
        "**/*.spec.js",
        "**/*.spec.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
